:root {
  --primary: #dd7777;
  --background: #242424;
  --light-gray: #646464;
  --white: #ffffff;
}

* {
  /* outline: 1px solid red; */
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: var(--white);
}

.heading {
  font-size: 1.875rem;
  margin-bottom: 1px;
}

.heading-icon {
  font-size: 1.5rem;
  color: var(--primary);
  margin-top: 1px;
  margin-bottom: 1px;
}

.subheading {
  font-size: 1.125rem;
  color: var(--light-gray);
}

span {
  color: var(--primary);
}

/* HERO SECTION */
.hero-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
}

#logo {
  max-width: 60%;
  animation: appear 2s alternate-reverse 1;
}

@keyframes appear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#hero-arrow-down {
  position: absolute;
  bottom: 25px;
  color: #353535;
  font-size: 25px;
  animation: bounce 1s alternate infinite;
}

@keyframes bounce {
  from {
    bottom: 20px;
  }
  to {
    bottom: 25px;
  }
}

/* PRICING SECTION */
.pricing-container {
  display: flex;
  margin-top: 75px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-area {
  width: 90%;
  text-align: center;
}
#investing-img {
  max-width: 95%;
}

.info-area {
  width: 90%;
}

.perk-heading::before {
  font-family: "Font Awesome 5 Free";
  content: "\f058";
  color: var(--primary);
  margin-right: 5px;
}

.perk {
  font-size: 1.125rem;
}

.perk-heading {
  margin-bottom: 1px;
}

.perk-subheading {
  margin-top: 1px;
  color: var(--light-gray);
}

/* ABOUT SECTION */
.about-container {
  display: flex;
  margin-top: 75px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#about-subheading {
  width: 90%;
  margin-top: 1px;
}

.about-img {
  width: 150px;
  height: 150px;
  margin-bottom: 1px;
}

.features {
  display: flex;
  width: 90%;
  row-gap: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.feature {
  font-size: 1.125rem;
}

.feature-heading {
  margin-top: 1px;
  margin-bottom: 1px;
}

.feature-subheading {
  margin-top: 1px;
  color: var(--light-gray);
}

/* PORTFOLIO SECTION */
.portfolio-container {
  display: flex;
  margin-top: 75px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.projects {
  display: flex;
  width: 90%;
  row-gap: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.project {
  font-size: 1.125rem;
  border-radius: 25px;
  box-shadow: rgba(172, 172, 178, 0.2) 0px 7px 30px 0px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.project-heading {
  margin-top: 1px;
  margin-bottom: 1px;
  font-size: 1.5rem;
}

.project-subheading {
  margin-top: 1px;
  color: var(--light-gray);
  font-weight: 300;
}

.project-description {
  color: var(--light-gray);
  width: 95%;
}

.project-button {
  color: var(--white);
  background-color: var(--primary);
  border-radius: 25px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.project-button:hover {
  background-color: #c76565;
}

.project-button:visited {
  color: var(--white);
}

/* BIO SECTION */
.bio-container {
  display: flex;
  margin-top: 75px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#bio-subheading {
  width: 90%;
  margin-top: 1px;
}

.bio-img {
  width: 150px;
  height: 150px;
  margin-bottom: 1px;
  background-color: var(--primary);
  border-radius: 50%;
  padding: 10px;
}

.bio-link {
  color: var(--primary);
  text-decoration: none;
}

.bio-link:hover {
  color: #c76565;
}

.bio-link:visited {
  color: var(--primary);
}

.bio-name {
  margin-bottom: 1px;
  font-size: 1.5rem;
  font-weight: bold;
}

.bio-title {
  margin-top: 1px;
  font-size: 1.125rem;
  color: var(--light-gray);
  font-weight: 300;
}

/** RESPONSIVE DESIGN - DESKTOP **/
@media screen and (min-width: 1000px) {
  #logo {
    max-width: 25%;
  }

  .heading {
    font-size: 3rem;
    margin-bottom: 1px;
  }

  .heading-icon {
    font-size: 1.875rem;
  }

  /* PRICING SECTION */
  .pricing-container {
    height: 100vh;
    margin-top: 0;
    flex-direction: row;
  }

  .image-area {
    width: 50%;
  }

  .info-area {
    width: 50%;
  }

  .perks-container {
    display: flex;
    flex-direction: row;
  }

  /* ABOUT SECTION */
  .about-container {
    height: 100vh;
    margin-top: 0;
  }

  #about-subheading {
    width: 50%;
  }

  .about-img {
    width: 275px;
    height: 275px;
  }

  .features {
    flex-direction: row;
    row-gap: 0;
    column-gap: 50px;
    width: 95%;
  }

  /* PORTFOLIO SECTION */
  .portfolio-container {
    height: 100vh;
    margin-top: 0;
  }

  .projects {
    flex-direction: row;
    row-gap: 0;
    column-gap: 50px;
    width: 95%;
  }

  /* BIO SECTION */
  .bio-container {
    height: 100vh;
    margin-top: 0;
  }

  #bio-subheading {
    width: 50%;
  }

  .bio-img {
    width: 250px;
    height: 250px;
    margin-bottom: 1px;
  }
}
