:root {
  --primary: #dd7777;
  --background: #242424;
  --light-gray: #646464;
  --white: #ffffff;
}

* {
  /* outline: 1px solid red; */
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: var(--white);
}

.heading {
  font-size: 1.5rem;
  margin-bottom: 1px;
}

span {
  color: var(--primary);
}

/* HERO SECTION */
.hero-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
}

#logo {
  max-width: 60%;
  animation: appear 2s alternate-reverse 1;
}

@keyframes appear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#hero-arrow-down {
  position: absolute;
  bottom: 25px;
  color: #353535;
  font-size: 25px;
  animation: bounce 1s alternate infinite;
}

@keyframes bounce {
  from {
    bottom: 20px;
  }
  to {
    bottom: 25px;
  }
}

/* PRICING SECTION */
.pricing-container {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-area {
  width: 90%;
  text-align: center;
}
#investing-img {
  max-width: 95%;
}

.info-area {
  width: 90%;
}

#pricing-subheading {
  font-size: 1.125rem;
  color: var(--light-gray);
}

.perk-heading::before {
  font-family: "Font Awesome 5 Free";
  content: "\f058";
  color: var(--primary);
  margin-right: 5px;
}

.perk-heading,
.perk-subheading {
  font-size: 1.125rem;
}

.perk-heading {
  margin-bottom: 1px;
}

.perk-subheading {
  margin-top: 1px;
  color: var(--light-gray);
}

/** RESPONSIVE DESIGN - DESKTOP **/
@media screen and (min-width: 1000px) {
  #logo {
    max-width: 25%;
  }

  .heading {
    font-size: 3rem;
    margin-bottom: 1px;
  }

  /* PRICING SECTION */
  .pricing-container {
    display: flex;
    height: 100vh;
    margin-top: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .image-area {
    width: 50%;
  }

  .info-area {
    width: 50%;
  }

  .perks-container {
    display: flex;
    flex-direction: row;
  }
}
